<%= form_for @mycompany do |f| %>  
 
   <%= f.collection_select :country_id, Country.order(:country_name),:id,:country_name, include_blank: true %>
  <%= f.collection_select :state_id, State.order(:state_name),:id,:state_name, include_blank: true %>
    <%= f.collection_select :city_id, City.order(:city_name),:id,:city_name, include_blank: true %>

  <p>
    <%= f.label :company_name %><br>
    <%= f.text_field :name %>
  </p>
 
 <p>
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </p>

  <p>
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </p>

  <p>
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </p>

  
 
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>

    <%= link_to 'My Compaines back', my_companies_path %> |