<h1>Listing my companies</h1>
 <%= link_to 'New company', new_my_company_path %>
<table>
  <tr>
    <th>my company name</th>
        <th colspan="3"></th>

  </tr>
 
  <% @mycompanies.each do |mycompany| %>
    <tr>
      <td><%= mycompany.name %></td>
      <td><%= link_to 'Show', my_company_path(mycompany) %></td>
        <td><%= link_to 'Edit', edit_my_company_path(mycompany) %></td>
      <td><%= link_to 'Destroy', my_company_path(mycompany),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>