<%= form_for @city do |f| %>  

  <%= f.collection_select :state_id, State.order(:state_name),:id,:state_name, include_blank: true %>

  <p>
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </p>
 
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>

    <%= link_to 'cities back', cities_path %> |